In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import pickle
from ggplot import *
from feature_format import featureFormat, targetFeatureSplit

In [7]:
with open("final_project_dataset.pkl", "rb") as data_file:
    my_dataset = pickle.load(data_file)

In [14]:
df = pd.DataFrame.from_dict(my_dataset,orient='index')

In [15]:
df.head()

,from_poi_to_this_person,email_address,bonus,director_fees,from_this_person_to_poi,total_stock_value,loan_advances,shared_receipt_with_poi,other,restricted_stock,...,deferred_income,expenses,to_messages,total_payments,long_term_incentive,deferral_payments,poi,restricted_stock_deferred,salary,exercised_stock_options
ALLEN PHILLIP K,47,phillip.allen@enron.com,4175000,NaN,65,1729541,NaN,1407,152,126027,...,-3081055,13868,2902,4484442,304805,2869717,False,-126027,201955,1729541
BADUM JAMES P,NaN,NaN,NaN,NaN,NaN,257817,NaN,NaN,NaN,NaN,...,NaN,3486,NaN,182466,NaN,178980,False,NaN,NaN,257817
BANNANTINE JAMES M,39,james.bannantine@enron.com,NaN,NaN,0,5243487,NaN,465,864523,1757552,...,-5104,56301,566,916197,NaN,NaN,False,-560222,477,4046157
BAXTER JOHN C,NaN,NaN,1200000,NaN,NaN,10623258,NaN,NaN,2660303,3942714,...,-1386055,11200,NaN,5634343,1586055,1295738,False,NaN,267102,6680544
BAY FRANKLIN R,NaN,frank.bay@enron.com,400000,NaN,NaN,63014,NaN,NaN,69,145796,...,-201641,129142,NaN,827696,NaN,260455,False,-82782,239671,NaN